/*
Theme Name: Ministore
Theme URI:
Author:
Author URI:
Description: Ministore is specially designed product packaged for Ministore by Moksha.
Version:
*/

/*--------------------------------------------------------------
This is main CSS file that contains custom style rules used in this template
--------------------------------------------------------------*/

/*------------------------------------*\
    Table of contents
\*------------------------------------*/

/*------------------------------------------------

CSS STRUCTURE:


/*--------------------------------------------------------------
/** 1. VARIABLES
--------------------------------------------------------------*/
@font-face {
    font-family: Vazir;
    src: url('/fonts/vazir-font-v16.1.0/Vazir.eot');
    src: url('/fonts/vazir-font-v16.1.0/Vazir.eot?#iefix') format('embedded-opentype'),
    url('/fonts/vazir-font-v16.1.0/Vazir.woff') format('woff'),
    url('/fonts/vazir-font-v16.1.0/Vazir.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Vazir;
    src: url('/fonts/vazir-font-v16.1.0/Vazir-Bold.eot');
    src: url('/fonts/vazir-font-v16.1.0/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/vazir-font-v16.1.0/Vazir-Bold.woff') format('woff'),
    url('/fonts/vazir-font-v16.1.0/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Vazir;
    src: url('/fonts/vazir-font-v16.1.0/Vazir-Light.eot');
    src: url('/fonts/vazir-font-v16.1.0/Vazir-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/vazir-font-v16.1.0/Vazir-Light.woff') format('woff'),
    url('/fonts/vazir-font-v16.1.0/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
}

:root {
    --accent-color: #717171;
    --white-color: #fff;
    --black-color: #000;
    --gray-color: #F3F3F3;
    --gray-color-300: #D8D8D8;
    --gray-color-500: #AEAEAE;
    --gray-color-800: #3A3A3A;
    --light-gray-color: #D7DDDF;
    --primary-color: #72AEC8;
    --bs-primary-rgb: 114, 174, 200;
    --light-color: #f8f9fa;
    --dark-color: #212529;
    --light-blue-color: #EDF1F3;
    --navbar-color-color: #131814;
    --swiper-theme-color: #4A4A4A;
    --swiper-pagination-color: #4A4A4A;

}

/* on mobile devices below 600px
 */
@media screen and (max-width: 600px) {
    :root {
        --header-height: 100px;
        --header-height-min: 80px;
    }
}

/* Fonts */
:root {
    --body-font: "Lato", sans-serif;
    --heading-font: "Jost", sans-serif;
}

/*----------------------------------------------*/
/* 1 GENERAL TYPOGRAPHY */
/*----------------------------------------------*/

/* 1.1 General Styles
/*----------------------------------------------*/
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

body {
    font-family: Vazir;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    margin: 0;
    direction: rtl;
}

p {
    font-size: 1.2em;
    color: var(--gray-color-500);
}

ul.inner-list li {
    font-size: 1.2em;
}

a {
    color: var(--dark-color);
    text-decoration: none;
    transition: 0.3s color ease-out;
}

a.light {
    color: var(--light-color);
}

a:hover {
    text-decoration: none;
    color: var(--primary-color);
}

/*------------ Background Color -----------*/
.bg-gray {
    background: var(--gray-color);
}

.bg-dark {
    background: var(--dark-color);
}

.bg-light {
    background: var(--light-color);
}

.bg-light-blue {
    background: var(--light-blue-color);
}

/* - Section Padding
--------------------------------------------------------------*/
.padding-xsmall {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.padding-small {
    padding-top: 2em;
    padding-bottom: 2em;
}

.padding-medium {
    padding-top: 4em;
    padding-bottom: 4em;
}

.padding-large {
    padding-top: 7em;
    padding-bottom: 7em;
}

.padding-xlarge {
    padding-top: 9.5em;
    padding-bottom: 9.5em;
}

/* no padding */
.no-padding-top {
    padding-top: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-tb {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.no-padding-lr {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-gutter {
    padding: 0 !important;
}

/* no padding and margin */
.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

/* - Section margin
--------------------------------------------------------------*/
.margin-small {
    margin-top: 3em;
    margin-bottom: 3em;
}

.margin-medium {
    margin-top: 5em;
    margin-bottom: 5em;
}

.margin-large {
    margin-top: 7em;
    margin-bottom: 7em;
}

.margin-xlarge {
    margin-top: 9em;
    margin-bottom: 9em;
}

@media only screen and (max-width: 768px) {
    .margin-small,
    .margin-medium,
    .margin-large {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}


/* - Section Title
--------------------------------------------------------------*/
h3.card-title,
h3.cart-title {
    font-size: 1.5em;
}

/* - Section width
--------------------------------------------------------------*/
.u-full-width {
    width: 100%;
    border: none;
}

/*--------------------------------------------------------------
/** 2.10 Buttons
--------------------------------------------------------------*/
/* - Button Sizes
------------------------------------------------------------- */
.btn.btn-small {
    padding: 0.8em 1.8em;
    font-size: 0.65em;
}

.btn.btn-medium {
    padding: 0.8em 2.8em;
    font-size: 1.1em;
    letter-spacing: 2px;
}

.btn.btn-large {
    padding: 2.4em 5.1em;
    font-size: 1.8em;
}

/* - Button Shapes
------------------------------------------------------------- */
.btn.btn-rounded,
.btn.btn-rounded::after {
    border-radius: 6px;
}

.btn.btn-pill,
.btn.btn-pill::after {
    border-radius: 2em;
}

/* button outline */
.btn.btn-outline-dark,
.btn.btn-outline-light,
.btn.btn-outline-accent {
    background: transparent;
    text-shadow: none;
    box-shadow: none;
}

.btn.btn-outline-dark:hover::after,
.btn.btn-outline-light:hover::after {
    background-color: transparent;
}

.btn.btn-outline-dark {
    border-color: rgba(0, 0, 0, 1);
    color: var(--dark-color);
}

.btn.btn-outline-dark:hover {
    background: var(--dark-color);
    color: var(--light-color);
}

.btn.btn-outline-light {
    border-color: rgba(255, 255, 255, 0.5);
    color: var(--light-color);
}

.btn.btn-outline-light:hover {
    background: var(--primary-color);
    color: var(--light-color);
    border-color: var(--primary-color);
}

.btn.btn-outline-accent {
    background: transparent;
    border-color: var(--accent-color);
    color: var(--dark-color);
}

.btn.btn-outline-accent:hover {
    border-color: var(--dark-color);
    color: var(--dark-color) !important;
}

.btn.btn-full {
    display: block;
    margin: .85em 0;
    width: 100%;
    letter-spacing: 0.12em;
}

/* no border radius */
.btn-rounded-none,
.btn-rounded-none::after {
    border-radius: 0;
}

/* - Buttons Color Scheme
------------------------------------------------------------- */
.btn.btn-normal {
    text-decoration: underline;
    border: none;
}

.btn.btn-normal:hover {
    text-decoration: none;
}

.btn.btn-accent {
    color: var(--light-color);
    background-color: var(--accent-color);
    border: none;
}

.btn.btn-accent:hover {
    color: var(--light-color) !important;
    background-color: var(--primary-color);
}

.btn.btn-black {
    background-color: var(--dark-color);
    color: var(--light-color);
    border: none;
}

.btn.btn-black:hover {
    background-color: var(--primary-color);
    color: var(--light-color);
}

.btn.btn-light {
    background-color: var(--light-color);
    color: var(--dark-color);
    border: none;
}

.btn.btn-light:hover {
    background-color: var(--primary-color);
    color: var(--light-color);
}

.btn.btn-primary {
    background: var(--primary-color);
    color: var(--light-color);
    border: none;
}

.btn.btn-primary:hover {
    background-color: var(--dark-color);
    color: var(--light-color);
}

/* - Buttons Aligns
------------------------------------------------------------- */
.btn-left {
    text-align: left;
    display: block;
}

.btn-center {
    text-align: center;
    display: block;
}

.btn-right {
    text-align: right;
    display: block;
}

/*----------------------------------------------*/
/* 2 SITE STRUCTURE */
/*----------------------------------------------*/

/* - Search Bar
------------------------------------------------------------- */
.search-box {
    background: var(--gray-color);
    position: relative;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 120px;
    cursor: pointer;
    z-index: 9;
}

.search-box input.search-input {
    font-size: 1.3em;
    width: 70%;
    height: 30px;
    padding: 25px;
    border-radius: 80px;
    border-color: rgb(0 0 0 / 25%);
    background: transparent;
}

.search-box svg {
    width: 22px;
    height: 22px;
    color: var(--primary-color);
}

.search-box svg.search {
    margin-left: -50px;
}


/** Search Form
--------------------------------------------------------------*/
.search-form input[type="search"].search-field {
    border: none;
    background: #f1f1f1;
    width: 100%;
    border-radius: 50px;
    padding: 10px 40px;
}

.search-form input[type="search"].search-field::focus {
    border-color: #af9aaa;
}

.search-form button {
    position: absolute;
    top: 6px;
    right: 9px;
    background: transparent;
    border: none;
}

/** Search Popup
--------------------------------------------------------------*/
.search-popup {
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.search-popup.is-visible {
    opacity: 1;
    visibility: visible;
    cursor: -webkit-image-set(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath fill='%23FFF' d='M20 1l-1-1-9 9-9-9-1 1 9 9-9 9 1 1 9-9 9 9 1-1-9-9'/%3E%3C/svg%3E") 1x, url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' d='M20 1l-1-1-9 9-9-9-1 1 9 9-9 9 1 1 9-9 9 9 1-1-9-9'/%3E%3C/svg%3E") 2x), pointer;
    cursor: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' d='M20 1l-1-1-9 9-9-9-1 1 9 9-9 9 1 1 9-9 9 9 1-1-9-9'/%3E%3C/svg%3E"), pointer;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.search-popup-container {
    background-color: transparent;
    position: relative;
    top: 50%;
    margin: 0 auto;
    padding: 0;
    width: 90%;
    max-width: 800px;
    text-align: center;
    box-shadow: none;
    cursor: default;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.is-visible .search-popup-container {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.search-popup-form {
    position: relative;
    margin: 0 0 3em 0;
}

.search-popup-form .form-control {
    padding: 0 0 .375em 0;
    font-size: 2em;
}

.search-popup-form #search-popup-submit {
    display: none;
}

.search-popup .search-popup-close {
    display: block;
    position: absolute;
    top: 2em;
    right: 2em;
    margin: -0.5em;
    padding: 0.5em;
    line-height: 0;
}

.search-popup .search-popup-close:hover {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.search-popup .search-popup-close i {
    display: block;
    position: relative;
    width: 1em;
    height: 1em;
    fill: rgba(0, 0, 0, 0.5);
}

.search-popup .search-popup-close:hover i {
    fill: rgba(0, 0, 0, 1);
}

.search-popup .cat-list-title {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 0.6em;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.search-popup .cat-list {
    margin: 0;
    list-style-type: none;
}

.search-popup .cat-list-item {
    display: inline-block;
    margin-bottom: 0;
    letter-spacing: 0.015em;
    font-size: 2em;
}

.search-popup .cat-list-item a {
    position: relative;
}

.search-popup .cat-list-item a::after {
    background: none repeat scroll 0 0 #fff;
    content: "";
    height: 1px;
    border-bottom: 1px solid #ff9697;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.search-popup .cat-list-item a:hover::after {
    height: 1px;
    opacity: 1;
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
}

.search-popup .cat-list-item::after {
    content: "/";
    padding: 0 5px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.5);
    vertical-align: text-top;
}

.search-popup .cat-list-item:last-child::after {
    display: none;
}

@media only screen and (max-width: 991px) {
    .search-popup .cat-list-item,
    .search-popup-form .form-control {
        font-size: 1.425em;
    }
}

@media only screen and (max-width: 767px) {
    .search-popup .search-popup-close {
        top: 1em;
        right: 1em;
    }
}

@media only screen and (max-width: 575px) {
    .search-popup .cat-list-item,
    .search-popup-form .form-control {
        font-size: 1.125em;
    }

    .search-popup .search-popup-close {
        top: 1em;
        right: 1em;
    }
}

.search-popup input[type="search"] {
    font-size: 24px;
    height: 60px;
    padding: 26px;
}

.search-popup .search-form button {
    top: 12px;
    right: 15px;
}

.search-popup .search-form button svg {
    height: 28px;
    width: 28px;
}


/* 1. Header
/*----------------------------------------------*/
.site-header {
    position: fixed;
    width: 100%;
    z-index: 10;
    transition: background 0.3s ease-out;
}

.navbar-toggler svg.navbar-icon {
    width: 50px;
    height: 50px;
}

.navbar-nav .nav-item a.nav-link {
    color: var(--accent-color);
}

.navbar-nav .nav-item a.nav-link.active,
.navbar-nav .nav-item a.nav-link:focus,
.navbar-nav .nav-item a.nav-link:hover {
    color: var(--primary-color);
}

/*------------ Offcanvas -------------- */
#header-nav .navbar-toggler:focus {
    box-shadow: none;
}

#header-nav .offcanvas.show {
    z-index: 9999;
    background-color: var(--light-blue-color);
}

#header-nav .offcanvas-end {
    width: 500px;
}

.offcanvas.show .nav-item a.nav-link {
    font-size: 2em;
}

.offcanvas.show .offcanvas-body .navbar-nav {
    align-items: unset !important;
    padding-left: 20px;
}

/*------------ Top User Icons -----------*/
.site-header .user-items svg {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

@media only screen and (max-width: 991px) {
    #navbar .user-items {
        display: none;
    }
}


/* 2. Billboard
/*----------------------------------------------*/
/*------------Swiper Arrow -----------*/
#billboard .swiper-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    align-items: center;
}

.swiper-icon.swiper-arrow svg {
    fill: var(--light-gray-color);
}

.swiper-icon.swiper-arrow:hover svg,
.swiper-icon.swiper-arrow:focus svg {
    fill: var(--primary-color);
}

#billboard .swiper-arrow.swiper-arrow-prev {
    left: 0;
}

#billboard .swiper-arrow.swiper-arrow-next {
    right: 0;
}

@media only screen and (max-width: 767px) {
    #billboard .banner-content {
        margin-top: 210px;
    }

    #billboard .image-holder {
        margin-top: -390px;
        opacity: 0.3;
    }

    #billboard .swiper-arrow {
        top: 400px;
    }
}

/* 3. Icon Box - Company Services
/*----------------------------------------------*/
.icon-box .icon-box-icon svg {
    width: 26px;
    height: 26px;
    fill: var(--primary-color);
}

@media only screen and (max-width: 991px) {
    #company-services .icon-box {
        flex-wrap: wrap;
    }
}

/* 4. Product
/*----------------------------------------------*/
.product-store .product-card .cart-concern {
    bottom: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease-out;
    opacity: 0;
}

.product-store .product-card:hover .cart-concern {
    bottom: 90px;
    opacity: 1;
}

.product-card .cart-concern svg {
    width: 16px;
    height: 16px;
    fill: var(--light-color);
    margin-left: 9px;
}

.product-card .card-detail span {
    font-size: 1.5em;
}

@media only screen and (max-width: 575px) {
    .product-store .product-card .card-detail {
        padding: 10px;
    }
}

/*------------Swiper Pagination -----------*/
.product-store .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 35px;
}

.swiper-pagination span.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
}

/* 5. Testimonial
/*----------------------------------------------*/
.review-item blockquote {
    font-size: 2.5em;
    font-weight: 300;
    line-height: 1.2;
}

.rating svg.star {
    width: 16px;
    height: 16px;
    fill: var(--primary-color);
}

#testimonials .swiper-arrow svg {
    width: 45px;
    height: 45px;
    fill: var(--light-gray-color);
}

.review-content .swiper-arrow {
    top: 0;
    bottom: 0;
    z-index: 2;
}

.review-content .swiper-arrow.swiper-arrow-next {
    right: 0;
}

.review-content .quotation svg.quote {
    color: var(--light-blue-color);
}

@media only screen and (max-width: 767px) {
    #testimonials blockquote {
        font-size: 2em;
    }

    .review-content .swiper-arrow {
        bottom: -420px;
    }
}

/* 6. Subscribe
/*----------------------------------------------*/
.subscribe-content p {
    color: var(--gray-color-500);
}

@media only screen and (max-width: 1199px) {
    .subscription-form input.form-control,
    .subscription-form button {
        width: 100%;
        margin-bottom: 10px;
    }
}

/* 7. Instagram
/*----------------------------------------------*/
#instagram figure.instagram-item {
    width: 20%;
}

figure.instagram-item img.insta-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.instagram-item .icon-overlay {
    top: 30px;
    left: 0;
    width: 100%;
    height: auto;
    color: var(--light-color);
    opacity: 0;
    transition: 0.9s ease-out;
}

.instagram-item:hover .icon-overlay {
    top: 0;
    opacity: 1;
}

.instagram-item .icon-overlay svg.instagram {
    height: 50px;
}

@media only screen and (max-width: 767px) {
    #instagram figure.instagram-item {
        width: 30%;
    }
}

@media only screen and (max-width: 501px) {
    #instagram figure.instagram-item {
        width: 100%;
    }
}

/* 8. Footer
/*----------------------------------------------*/
/*------------ Social Icon -----------*/
.social-links svg {
    width: 20px;
    height: 20px;
    color: var(--light-gray-color);
}

.social-links svg:hover {
    color: var(--primary-color);
}

.social-links li {
    padding-right: 30px;
}


/* 9. About Us Page
/*----------------------------------------------*/
/*------------ Video Icon -----------*/
.video-item a {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.video-item svg.video-player {
    width: 80px;
    height: 80px;
    padding: 19px;
    border-radius: 50%;
}

/* - Shop Page
--------------------------------------------------------------*/
/* ----------- Search Bar -----------*/
.shopify-grid select#input-sort {
    font-size: 1.2em;
    color: var(--dark-grey-color);
    border: none;
    padding: 0;
    text-align: center;
}

/* ----------- SideBar -----------*/
.sidebar input.search-field {
    width: 290px;
    height: 50px;
    box-shadow: 5px 5px 15px 5px #eee;
    border: 1px solid #eee;
    padding-left: 20px;
    outline-offset: 0;
}

.sidebar .search-icon {
    padding: 14px;
}

.sidebar svg.search {
    width: 20px;
    height: 20px;
}

.sidebar h5.widget-title {
    font-size: 1.4em;
    margin-bottom: 15px;
}

.sidebar .sidebar-list li {
    font-size: 1.2em;
}

.sidebar .sidebar-list li a {
    color: var(--dark-30);
}

.sidebar .sidebar-list li a:hover {
    color: var(--primary-color);
}

@media only screen and (max-width: 991px) {
    .widget-search-bar form {
        flex-wrap: wrap;
    }
}

/* ----------- Pagination -----------*/
.paging-navigation .pagination .page-numbers {
    font-size: 1.4em;
    color: var(--gray-color-500);
}

.paging-navigation .pagination .page-numbers:hover {
    color: var(--primary-color);
}

.paging-navigation .pagination svg {
    width: 35px;
}


/* 10. Single Product Page
/*----------------------------------------------*/
/*------------ Product Info -----------*/
.product-info .rating svg.star-fill {
    fill: var(--dark-color);
}

.product-info .select-list li.select-item {
    font-size: 1.2em;
}

.product-quantity .input-group {
    width: 140px;
    gap: 2px;
}

.product-quantity #quantity {
    height: auto;
    width: 20px;
    border: none;
    margin: 0;
    padding: 0;
}

.product-quantity #quantity,
.product-quantity .btn-number {
    width: 40px;
    height: 40px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    border-radius: 6px;
    color: #222;
    padding: 0;
}

.single-product .cart-wrap h4.item-title {
    font-size: 1.5em;
}

.single-product .product-quantity .stock-number {
    font-size: 1.2em;
}

.meta-product h4.item-title {
    font-size: 1.2em;
}

/*------------ Product Info Tabs -----------*/
.product-info-tabs .tabs-listing button {
    font-size: 2em;
    color: var(--dark-color);
}

.product-info-tabs .nav-tabs .nav-link {
    border: none;
}

.product-info-tabs .nav-tabs .nav-item.show .nav-link,
.product-info-tabs .nav-tabs .nav-link.active {
    color: var(--primary-color);
}


@media only screen and (max-width: 991px) {
    .product-info-tabs .tabs-listing button {
        font-size: 1.2em;
        padding-right: 20px !important;
    }
}


/* 10. Cart Page
-----------------------------------------------------*/
.shopify-cart .card-price .money {
    font-size: 1.5em;
}

.shopify-cart .total-price .money {
    font-size: 2.9em;
}

.total-price .cart-totals {
    font-size: 1.5em;
}

.shopify-cart .table th {
    width: 30%;
}


/* 11. Checkout Page
--------------------------------------------------------------*/
.list-group-item span {
    font-size: 1.2em;
}


/* 12. Blog Page
--------------------------------------------------------------*/
/*------------ Sidebar -----------*/
.sidebar-post-item h4.card-title {
    font-size: 1.2em;
}

/* 13. Sibgle Post Page
--------------------------------------------------------------*/
#single-post-navigation .post-navigation span.page-nav-title {
    font-size: 1.5em;
}

.post-navigation svg {
    width: 30px;
    height: 45px;
}

.post-navigation:hover svg,
.post-navigation:focus svg {
    fill: var(--primary-color);
}
